[Unit]
Description=Heliotherm heat pump REST API server
After=network.target
Requires=network.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 -m htrest -d /dev/ttyUSB0 -b 19200 -s 192.168.1.80:8888 -u john:p@ssw0rd
WorkingDirectory=/home/pi/HtREST
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=30s
User=pi

[Install]
WantedBy=multi-user.target
