[Unit]
Description=Heliotherm heat pump REST API server
After=network.target
Requires=network.target

[Service]
Type=idle
ExecStart=/home/pi/venv/htrest/bin/htrest -d /dev/ttyUSB0 -b 115200 --host 192.168.11.99 --port 8777
WorkingDirectory=/home/pi
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=30s
User=pi

[Install]
WantedBy=multi-user.target
