pip==20.0.2
htheatpump==1.2.1
Flask==1.1.1
flask-restx==0.1.1
Flask-BasicAuth==0.2.0
mypy==0.761
pytest==5.3.5
pytest-cov==2.8.1
pytest-runner==5.2
pytest-sugar==0.9.2
pytest-mypy==0.5.0
flake8==3.7.9
coverage==5.0.3
tox==3.14.5
